.page-container {
	padding:40px;
}
.revision-header .header-logo {
	width: 150px;
	height: 90px;
}

.card-data {
	background-color: #363D42;
	color: #ffffff;
	a{
		color: #E4A731;
	}
}

.common-btn {
	color: #363D42;
    background-color: transparent;
    background-image: none;
    border-color: #363D42;
}

.common-btn:hover {
    color: #E4A731;
    background-color: #363D42;
    border-color: #363D42;
}
.common-btn:active {
    color: #E4A731 !important;
    background-color: #363D42 !important;
    border-color: #363D42 !important;
    box-shadow: none !important;
}