.text-red {
  color: red; }

.text-blue {
  color: #007bff; }

.pointer {
  cursor: pointer; }

.ace_editor {
  height: 300px; }

.mb-5 {
  margin-bottom: 5px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-30 {
  margin-bottom: 30px; }

.mr-10 {
  margin-right: 10px; }

.page-container {
  padding: 40px; }

.revision-header .header-logo {
  width: 150px;
  height: 90px; }

.card-data {
  background-color: #f7f7f9;
  min-height: 120px;
  overflow: auto; }
  .card-data a {
    color: #007bff; }

#update-learning-point-modal tags-input .tags {
  box-shadow: none;
  border: none;
  border-radius: none; }
  #update-learning-point-modal tags-input .tags .tag-list {
    padding-left: 0px; }
    #update-learning-point-modal tags-input .tags .tag-list .tag-item {
      padding: 3px 5px;
      margin: 3px 3px;
      display: inline-block;
      color: #fff;
      background: #428bca;
      border: 1px solid #357ebd;
      border-radius: 4px;
      list-style-type: none; }
  #update-learning-point-modal tags-input .tags input {
    width: 72px;
    border: none;
    outline: none; }

.dashboard-cn .card-body {
  padding: 25px 10px 10px 10px; }

.dashboard-cn .lp-box .card-title {
  font-weight: normal;
  font-size: 18px;
  cursor: pointer; }

.dashboard-cn .lp-box .card-id {
  position: absolute;
  top: 0px;
  left: 10px; }

.dashboard-cn .lp-box .hover-actions {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 5px; }

.dashboard-cn .lp-box:hover .hover-actions {
  display: block; }

.dashboard-cn #lp-editor {
  position: absolute;
  width: 500px;
  height: 400px; }
