<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>

        <!-- CSS -->
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/custom-libs/ionicons-master/css/ionicons.min.css">
        <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.css">
        <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.css">
        <link rel="stylesheet" href="/node_modules/ng-tags-input/build/ng-tags-input.bootstrap.min.css">
        <link rel="stylesheet" href="/css/global.css">

        <!-- Javascripts -->
        <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/node_modules/summernote/dist/summernote-bs4.min.js"></script>


        <script type="text/javascript" src="/node_modules/angular/angular.min.js"></script>
        <script type="text/javascript" src="/node_modules/angular-summernote/dist/angular-summernote.min.js"></script>
        <script type="text/javascript" src="/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="/node_modules/ng-tags-input/build/ng-tags-input.min.js"></script>
        <script type="text/javascript" src="/controller/main.js"></script>
    </head>

    <body>

        <div>

            <!-- HEADER -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark revision-header">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#" ui-sref="create">Create</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li> -->
                    </ul>
                    <!-- <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form> -->
                </div>
            </nav>

            <!-- body -->
            <div >
                <div ui-view class="page-container"></div>
            </div>
        </div>
    </body>
</html>